@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 95%);
  font-family: Lexend Deca;
  font-size: 15px;
}
header {
  text-align: center;
  padding-top: 15px;
}
header a {
  text-decoration: none;
  margin: 15px;
  font-size: 20px;
}
main {
  display: flex;
  height: 100vh;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 10px;
}
img {
  margin: 30px;
  width: 25%;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 70vh;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 100%;
  height: 70vh;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
  width: 100%;
  height: 70vh;
}

h2 {
  color: hsl(0, 0%, 95%);
  margin: 0 30px 30px 30px;
  font-family: Big Shoulders Display;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 30px;
  font-size: 10px;
}
button {
  color: hsl(0, 0%, 95%);
  margin: 30px;
  border-radius: 25px;
  width: 50%;
  height: 30px;
  border: none;
}
button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    
}
span:hover{
  color: white;
}
@media screen and (max-width: 1440px) {
  main{
  place-items: center;
  width: 50%;

  }
  
}
@media screen and (max-width: 375px) {
  main{
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  
  
  }
}
  
  
  



